<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Tile</title>
  </head>
  <body>
    <h1>genrate short url</h1>
    <form action="/url" method="post">
      <input type="text" name="url" placeholder="enter url" />
      <button type="submit">generate</button>
    </form>

    <% if (locals.id) { %>
    <h1>short url is <%= id %></h1>
    <p>click here to go to the url</p>
    <a target="_blank" href="/url/<%= id %>">click here</a>
    <% } %>
    <br />
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>S. no</th>
        <th>shortId</th>
        <th>redirectUrl</th>
        <th>visitHistory</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= url.shortId %></td>
          <td><%= url.redirectUrl %></td>
          <td><%= url.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </body>
</html>
